<h1><%= _('Listing users') %></h1>

<table>
  <tr>
    <th><%= _('Login') %></th>
    <th><%= _('Email') %></th>
    <th colspan="3"><%= _('Action') %></th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', :action => :show, :controller => :users, :id => user.id %></td>
    <td><%= link_to 'Edit', :action => :edit, :controller => :users, :id => user.id %></td>
    <td><%= link_to 'Destroy', {:action => :delete, :controller => :users, :id => user.id}, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Sign Up', :action => :signup, :controller => :account %>
